<div class="container text-center"
     <h1> XV de la Moustache </h1>
    <p>Find the best team ever</p>
    <p>
      <strong><%=2+2%></strong> COMING MATCHES <%= Date.today%>
      <p>
  <%= link_to "All products", products_path, class: "btn btn-success" %>
</p>
</div>

